hostname =  .*.reader.yueyouxs.com, vip.75787.com, pingyouquan.com, ddstar.palmmob.com, *.reader.yueyouxs.com, haokan.baidu.com, yuedongzu.yichengw.cn, ocean.shuqireader.com,api-access.pangolin-sdk-toutiao-b.com, mobwsa.ximalaya.com, api3-normal-c-*.snssdk.com, m.*.top, daojia.jd.com, api-9f9d25.sz365.cn, api.m.jd.com, *.bilibili.com, trade-acs.m.taobao.com, *.amemv.com, ms.jr.jd.com,  *.youth.cn, ios.baertt.com, jdjoy.jd.com, crazy-joy.jd.com, draw.jdfcloud.com, account.huami.com, jdread-api.jd.com, api-hdcj.9w9.com, wq.jd.com, passport.suning.com, luckman.suning.com, sign.suning.com, gameapi.suning.com, bububao.duoshoutuan.com, m.client.10010.com,  veishop.iboxpay.com, *.snssdk.com, dkd-api.dysdk.com,  api3-normal-c-*.huoshan.com, c.tieba.baidu.com, api.sxsjyzm.com, nebula.kuaishou.com, jqb.iphonezhuan.com, ranlv.lvfacn.com, ddaydshuibaojk.tiantianzf.cn, runstep.kujievip.com

#哈喽短视频
https://vip.75787.com/app/index.php url script-request-header https://raw.githubusercontent.com/age174/-/main/hldsp.js

#幸运赚点
https://vip.75787.com/app/index.php url script-request-body https://raw.githubusercontent.com/age174/-/main/xyzd.js

#阅友小说header
http.*://.*.reader.yueyouxs.com/ - script-request-header https://raw.githubusercontent.com/age174/-/main/yyxs.js
#阅友小说body
http.*://.*.reader.yueyouxs.com/ - script-request-body https://raw.githubusercontent.com/age174/-/main/yyxs.js

#评有圈
https://pingyouquan.com/tp5/public/index.php/app/gold/adv url script-request-body https://raw.githubusercontent.com/ZhiYi-N/Private-Script/master/Scripts/pyq.js

#嘀嗒星球
https://ddstar.palmmob.com/ddstar_app/activity/ReceiveAdBonus? url script-request-header https://raw.githubusercontent.com/age174/-/main/ddxq.js

#阅友小说header
http.*://.*.reader.yueyouxs.com/ url script-request-header https://raw.githubusercontent.com/age174/-/main/yyxs.js
#阅友小说body
http.*://.*.reader.yueyouxs.com/ url script-request-body https://raw.githubusercontent.com/age174/-/main/yyxs.js

#百度极速版
https:\/\/haokan\.baidu\.com\/activity\/h5\/vault\?productid=\d url script-request-header https://raw.githubusercontent.com/Sunert/Scripts/master/Task/baidu_speed.js

#悦动族获取TOKEN
https:\/\/yuedongzu\.yichengw\.cn\/* url script-request-header /shinelion/yuedongzu.txt

# 书旗小说
https://ocean.shuqireader.com/api/ad/v1/api/prize/lottery url script-request-body sqxsgetck.js
https://ocean.shuqireader.com/api/activity/activity/v1/lottery/draw url script-request-body sqxsgetck.js
https://ocean.shuqireader.com/api/activity/xapi/gold/record url script-request-body sqxsgetck.js
https://ocean.shuqireader.com/api/prizecenter/xapi/prize/manual/receive url script-request-body sqxsgetck.js
https://ocean.shuqireader.com/api/ad/v1/api/prize/readpage/pendant/lottery url script-request-body sqxsgetck.js
https://api-access.pangolin-sdk-toutiao-b.com/api/ad/union/sdk/reward_video/reward/ url script-request-body sqxsgetck.js
https://api-access.pangolin-sdk-toutiao.com/api/ad/union/sdk/reward_video/reward/ url script-request-body sqxsgetck.js

# 喜马拉雅
# 189及以前版本
^https?:\/\/.*\/mobile\-user\/homePage\/.* url script-response-body https://raw.githubusercontent.com/chavyleung/scripts/master/ximalaya/ximalaya.cookie.js
# 190及以后版本
^https?:\/\/.*\/mobile\-user\/homePage\/.* url script-request-header https://raw.githubusercontent.com/chavyleung/scripts/master/ximalaya/ximalaya.cookie.js

# 今日头条极速版
^https:\/\/api3-normal-c-\w+\.snssdk\.com\/score_task\/v1\/task\/(sign_in|get_read_bonus) url script-request-header https://raw.githubusercontent.com/ZhiYi-N/Private-Script/master/Scripts/jrtt.js
^https:\/\/api3-normal-c-\w+\.snssdk\.com\/ttgame\/game_farm\/home_info url script-request-header https://raw.githubusercontent.com/ZhiYi-N/Private-Script/master/Scripts/jrtt.js

#番茄看看
^http://m.*.top/reada/getTask url script-request-header https://raw.githubusercontent.com/age174/-/main/fqkk.js

# 京东到家
https:\/\/daojia\.jd\.com\/client\?_jdrandom=\d{13}&functionId=%2Fsignin url script-request-header https://raw.githubusercontent.com/Sunert/Scripts/master/Task/jddj.js

#闪挣
^https://api-9f9d25.sz365.cn/api/virtual_currency_v2/reward url script-request-header https://raw.githubusercontent.com/age174/-/main/sz.js

# 走路赚钱
https://runstep.kujievip.com/runstep/advlist? url script-request-header https://raw.githubusercontent.com/CenBoMin/GithubSync/main/RUNSTEP/cookie.js
https://runstep.kujievip.com/runstep/myself? url script-request-header https://raw.githubusercontent.com/CenBoMin/GithubSync/main/RUNSTEP/cookie.js

# 燃旅视屏
https://ranlv.lvfacn.com/api.php/Common/pvlog url script-request-header https://raw.githubusercontent.com/ZhiYi-N/Private-Script/master/Scripts/ranlv.js

#金钱豹
^http://jqb.iphonezhuan.com/ url script-request-body https://raw.githubusercontent.com/age174/-/main/jqb.js

# 快手极速版
https:\/\/nebula\.kuaishou\.com\/nebula\/task\/earning\? url script-request-header https://raw.githubusercontent.com/Sunert/Scripts/master/Task/kuaishou.js

#芝麻视频
^https://api.sxsjyzm.com/api2/loot/index url script-request-body https://raw.githubusercontent.com/age174/-/main/zmsp.js

# 百度极速版
https?:\/\/(c\.tieba\.baidu\.com|180\.97\.\d+\.\d+)\/c\/s\/login url script-request-header https://raw.githubusercontent.com/NobyDa/Script/master/BDTieBa-DailyBonus/TieBa.js

# 火山
https://api3-normal-c-\w+.huoshan.com/hotsoon/flame/task_done/? url script-request-body https://raw.githubusercontent.com/ZhiYi-N/Private-Script/master/Scripts/huoshan.js
https://api3-normal-c-\w+.huoshan.com/hotsoon/item/reaction/_play/? url script-request-body https://raw.githubusercontent.com/ZhiYi-N/Private-Script/master/Scripts/huoshan.js

#获取多看点Cookie
^http:\/\/dkd-api\.dysdk\.com\/user\/index url script-request-body https://raw.githubusercontent.com/age174/-/main/dkd.js
#获取多看点视频body
^http://dkd-api.dysdk.com/android_video/getaward url script-request-body https://raw.githubusercontent.com/age174/-/main/dkdbody.js

#火山小视频
https://(\w+-\w+||\w+).snssdk.com/luckycat/hotsoon/v1/task/done/daily_read_\d+m? url script-request-header https://raw.githubusercontent.com/ZhiYi-N/Private-Script/master/Scripts/hotsoon.js
https://(\w+-\w+||\w+).snssdk.com/luckycat/hotsoon/v1/task/done/draw_excitation_ad? url script-request-header https://raw.githubusercontent.com/ZhiYi-N/Private-Script/master/Scripts/hotsoon.js
https://(\w+-\w+||\w+).snssdk.com/luckycat/hotsoon/v1/task/sign_in_detail? url script-request-header https://raw.githubusercontent.com/ZhiYi-N/Private-Script/master/Scripts/hotsoon.js

#笑谱获取header
https:\/\/veishop\.iboxpay\.com\/* url script-request-header /shinelion/xp_ziye.txt
#笑谱获取更新TOKEN
https:\/\/veishop\.iboxpay\.com\/nf_gateway\/nf-user-auth-web\/ignore_tk\/veishop\/v1\/* url script-response-body /shinelion/xp_ziye.txt

#步步宝
https://bububao.duoshoutuan.com/user/profile url script-request-header https://raw.githubusercontent.com/adwktt/adwktt/master/BBB.js

# Termius 解锁本地pro  (By Maasea)
;https:\/\/api\.termius\.com\/api\/v3\/bulk\/account\/ url script-response-body https://raw.githubusercontent.com/zm0217/Script/7e097db8ecf61e835047399bec65597eb489569f/Termius.js

# 苏宁易购
^https:\/\/passport.suning.com\/ids\/login$ url script-request-body https://raw.githubusercontent.com/Shinelion7/scripts/master/suning/suning.cookie.js
^https:\/\/luckman.suning.com\/luck-web\/sign\/api\/clock_sign.do url script-request-header https://raw.githubusercontent.com/Shinelion7/scripts/master/suning/suning.cookie.js
^https:\/\/sign.suning.com\/sign-web\/m\/promotion\/sign\/doSign.do url script-request-header https://raw.githubusercontent.com/Shinelion7/scripts/master/suning/suning.cookie.js
^https:\/\/gameapi.suning.com\/sngame-web\/(api\/signin\/private\/customerSignOperation.do|gateway\/api\/queryPrize.do) url script-request-header https://raw.githubusercontent.com/Shinelion7/scripts/master/suning/suning.cookie.js

# 京东粉丝专享
https:\/\/wq\.jd\.com\/bases\/jssdk\/GetWxJsApiSign url script-request-header /shylocks/jd_wechat_sign.js

# 京喜农场ck
^https\:\/\/wq\.jd\.com\/cubeactive\/farm\/dotask url script-request-header /shinelion/jx_nc.cookie.txt

#京东获取Cookie
;https:\/\/wq\.jd\.com\/user_new\/info\/GetJDUserInfoUnion  url script-request-header https://gitee.com/lxk0301/jd_scripts/raw/master/JD_extra_cookie.js
https:\/\/api\.m\.jd\.com\/client\.action.*functionId=signBean url script-request-header https://raw.githubusercontent.com/NobyDa/Script/master/JD-DailyBonus/JD_DailyBonus.js

#中青看点极速版自动阅读获取body
^https:\/\/h5\.ele\.me\/restapi\/eus\/v\d\/current_user$ - script-request-body https://raw.githubusercontent.com/songyangzz/QuantumultX/master/elem/elemGetCookies.js
https://ios.baertt.com/v5/article/complete.json url script-request-body https://raw.githubusercontent.com/songyangzz/QuantumultX/master/zqgetbody.js

# 宠汪汪辅助脚本
;^https:\/\/jdjoy\.jd\.com\/pet\/getPetTreasureBox|^https:\/\/draw\.jdfcloud\.com\/\/pet\/getPetTreasureBox - script-response-body https://raw.githubusercontent.com/lxk0301/jd_scripts/master/jd_petTreasureBox.js

# 来客有礼
https:\/\/draw\.jdfcloud\.com\/\/api\/bean\/square\/silverBean\/task\/get\? url script-request-header /shinelion/jd_lkyl.txt

# 小米运动获取Token
#^https:\/\/account\.huami\.com\/v2\/client\/login url script-response-body https://gitee.com/lxk0301/jd_scripts/raw/master/backUp/xmSports.js

# 京东读书
^https:\/\/jdread-api\.jd\.com\/* url script-request-header https://raw.githubusercontent.com/XidNDD/2020scripts/master/jddsSign.js

# 微信抽奖小程序
^https:\/\/api-hdcj\.9w9\.com\/v\d\/sign url script-request-header https://raw.githubusercontent.com/nzw9314/QuantumultX/master/Task/WeChatLottery_new.js
